body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: Tahoma, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height:100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    display: inline-block;
    background: #f5f5f5;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    padding: 10px 0;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}
.content {
    float: right;
    margin-right: 10%;
    margin-left:    10% ;
    text-align: center;
    flex: 1;
    
}
.formulario{
    margin-right: 10%;
    margin-left:10% ;
}
.p_div{
    margin-right: 10%;
    margin-left:10% ;
    line-height: 1.5;
}
.p_div_inicio{
    margin-right: 10%;
    margin-left:10% ;
    line-height: 1.5;
    font-size: 24px;
    
}
.img1 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;

}

.img2 {
    max-width: 200px;
    width: 100px;
    height: auto;
    margin-right: 10%;
    margin-left:10% ; 
}



.text-container {
    text-align: center; 
    margin-bottom: 20px; 
}

.button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

.content a {
    display: block;
    margin-top: 20px;
    text-align: center;
   
}


.content img {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.github {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: auto;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer img {
    width: 150px;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

footer a {
    display: flex; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 12px 20px;
}

.dropdown-content {
    position: absolute;
    background-color: #333; /* Cambia el color de fondo a un gris muy oscuro */
    color: #fff; /* Cambia el color del texto a blanco */
    border: 1px solid #555; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    min-width: 300px;
    width: 0;
    overflow: hidden;
    top: 100%;
    left: 0;
    transition: width 0.3s ease;
    display: none;
}

.dropdown-content.show {
    width: 200px;
    display: block; /* Muestra el menú cuando tiene la clase "show" */
}
  
.dropdown-content a {
    color: #fff; /* Color del texto */
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease; /* Transición de color de fondo */
}

.dropdown-content a:hover {
    background-color: #555; /* Color de fondo al pasar el ratón */
}

.menu-wrapper {
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
}

#menu-title {
    color: #333; /* Color del texto */
    font-weight: bold; /* Hace que el texto esté en negrita */
    margin-left: 10px; /* Espacio entre el botón y el título */
    margin-right: 10px; /* Espacio entre el título y el margen derecho */
}

#about-link {
    margin-left: auto; /* Desplaza el enlace a la derecha */
    color: #333; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    padding: 0 10px; /* Espaciado a los lados */
    font-weight: bold; /* Negrita */
}
#about-link:hover {
    color: #555; /* Color al pasar el ratón */
}