<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo de Ordenación Heapsort</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloPorDefecto.css') }}">
</head>
<body>
    <header>
        <h1>Algoritmo de Ordenación <strong>Heapsort</strong></h1>
        <a href="https://github.com/mgm1027/TFG-Sorting-Algorithm-Quiz-Generation">
            <img class="github" src="../static/img/github.png" alt="Repositorio">
        </a>
    </header>
    <nav class="dropdown">
        <div class="menu-wrapper">
            <button class="dropbtn" onclick="toggleDropdown()">☰</button>
            <span id="menu-title"><strong>Algoritmos de ordenación</strong></span>
            <div id="dropdown-menu" class="dropdown-content">
                <a href="/mergesort">Algoritmo de ordenación por mezcla Mergesort</a>
                <a href="/quicksort">Algoritmo de ordenación rápida Quicksort</a>
                <a href="/heapsort">Algoritmo de ordenación por montículos Heapsort</a>
            </div>
        </div>
    </nav>
    
    <script src="../static/js/script.js"></script>
    <div class="content">
        <p class="p_div">
            El algoritmo de ordenación por montículos (o <strong>Heapsort</strong>) es un algoritmo de ordenamiento <strong>no recursivo</strong>.
            Su funcionamiento consiste en almacenar los elementos de un vector en un montículo y luego ir extrayendo los nodos por cada iteración del algoritmo de forma ordenada
            (Dejando en la cima del montículo el elemento de menor valor del vector).
            
        </p>
        <p><a href="https://es.wikipedia.org/wiki/Heapsort">
            <img class="img2" src="../static/img/wikipedia.jpg" alt="wikipedia">
        </a></p>
        <div>
            <div>
                <a href="{{ url_for('download_file', filename='pregunta_heapsort.xml') }}" data-i18n="Descargar banco de preguntas"><button class="button" type="submit">Descargar banco de preguntas</button></a>
</div>
            <div>
                <a href="{{ url_for('formularioHeapsort') }}" data-i18n="Generar nuevo banco de preguntas"><button class="button" type="submit">Generar nuevo banco de preguntas</button></a>
</div>
</div>

    </div>
    <a href="inicio.html">
        <img class="img1" src="../static/img/logo.png" alt="Logo">
    </a>
    <footer>
        <a href="https://www.ubu.es">
            <img src="../static/img/ubu.png" alt="Universidad de Burgos">
        </a>
    </footer>
</body>
</html>