<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo de Ordenación Quicksort</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloPorDefecto.css') }}">
</head>
<body>
    <header>
        <h1>Algoritmo de Ordenación <strong>Quicksort</strong></h1>
        <a href="https://github.com/mgm1027/TFG-Sorting-Algorithm-Quiz-Generation">
            <img class="github" src="../static/img/github.png" alt="Repositorio">
        </a>
    </header>
    <nav class="dropdown">
        <div class="menu-wrapper">
            <button class="dropbtn" onclick="toggleDropdown()">☰</button>
            <span id="menu-title"><strong>Algoritmos de ordenación</strong></span>
            <div id="dropdown-menu" class="dropdown-content">
                <a href="/mergesort">Algoritmo de ordenación por mezcla Mergesort</a>
                <a href="/quicksort">Algoritmo de ordenación rápida Quicksort</a>
                <a href="/heapsort">Algoritmo de ordenación por montículos Heapsort</a>
            </div>
        </div>
    </nav>
    
    <script src="../static/js/script.js"></script>
    <div class="content">
        <p class="p_div">
            El algoritmo de ordenamiento rápido (o <strong>Quicksort</strong>) es un algoritmo de ordenación creado por el científico británico Charles Antony Richard Hoare.
            El método Quicksort consiste en seleccionar un elemento de la lista como pivote, dejando a un lado todos los valores menores que él y al otro lado los mayores,
            dejando dos sublistas de valores. Después únicamente se trata de repetir el proceso en ambas sublistas de forma <strong>recursiva</strong> hasta que la lista quede ordenada.
            
        </p>
        <p><a href="https://es.wikipedia.org/wiki/Quicksort">
            <img class="img2" src="../static/img/wikipedia.jpg" alt="wikipedia">
        </a></p>
        <script>
            function validarFormulario() {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                var marcado = false;
        
                checkboxes.forEach(function(checkbox) {
                    if (checkbox.checked) {
                        marcado = true;
                    }
                });
        
                if (!marcado) {
                    alert("Debes marcar al menos una opción.");
                    return false; // Evita que el formulario se envíe
                }
        
                return true; // Permite que el formulario se envíe
            }
        </script>
        <form class="formulario" method = 'POST' action="{{ url_for('formularioQuicksort') }}" onsubmit="return validarFormulario()">            
            <div>
                <p>Número de preguntas:<input type="number" min="1" title="Número de preguntas" name="numero_preguntas" required></p> 
                <p></p>
                <p>Número mínimo de valores del vector:
                    <input type="number" id="longitud_min" min="2" max="21"title="Rango mínimo del vector" name="longitud_min" required></p> 
                <p></p>
                <p>Número máximo de valores del vector:
                    <input type="number" id="longitud_max" min="2" max="22"title="Rango máximo del vector" name="longitud_max" required></p> 
                <p></p>
                
                <p>
                    <p>
                        <img  style="max-width: 50%; "src="../static/img/Quicksort_pregunta_seleccionar_unidireccional.PNG" alt="Quicksort_seleccionar_unidireccional">
                    </p>
                <label>
                    ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_seleccionar_unidireccional" name="Pregunta_seleccionar_unidireccional" value="True">
                </label>
                
                </p>
                <p></p>
                <p>
                    <img  style="max-width: 50%; "src="../static/img/Quicksort_pregunta_seleccionar_bidireccional.PNG" alt="Quicksort_seleccionar_bidireccional">
                </p>
            <label>
                ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_seleccionar_bidireccional" name="Pregunta_seleccionar_bidireccional" value="True">
            </label>
            
            </p>
            <p></p>
            <p>
                <img  style="max-width: 50%; "src="../static/img/Quicksort_pregunta_rellenar.PNG" alt="Quicksort_rellenar">
            </p>
        <label>
            ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_rellenar" name="Pregunta_rellenar" value="True">
        </label>
        
        </p>
        <p></p>
            <p>
                <img  style="max-width: 50%; "src="../static/img/Quicksort_pregunta_pivote.PNG" alt="Quicksort_pivote">
            </p>
            <label>
                ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_pivote" name="Pregunta_pivote" value="True">
            </label>
                
            </p>
            <p></p>
            <p>
                <img  style="max-width: 50%; "src="../static/img/Quicksort_pregunta_imagen_unidireccional.PNG" alt="Quicksort_imagen_unidireccional">
            </p>
            <label>
                ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_imagen_unidireccional" name="Pregunta_imagen_unidireccional" value="True">
            </label>
                
            </p>
            <p></p>
            <p>
                <img  style="max-width: 50%; "src="../static/img/Quicksort_pregunta_imagen_bidireccional.PNG" alt="Quicksort_imagen_bidireccional">
            </p>
            <label>
                ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_imagen_bidireccional" name="Pregunta_imagen_bidireccional" value="True">
            </label>
                
            </p>
  
                <script>
                    document.getElementById('longitud_min').addEventListener('input', function() {
                        var minVal = this.value;
                        var maxInput = document.getElementById('longitud_max');
                        maxInput.min = minVal;
                    });
                </script>
        </div>        
            <div> 
                <div></div>
                <button class="button" type="submit">
                    <h4 data-i18n="generar_fichero">Generar Fichero</h4>
                </button>
                    <a href="/quicksort"><button class="button" type="button" > 
                        <h4 data-i18n="cancelar">Cancelar</h4></button></a>

                </div>
            </div>
        </div>
    </form>
    </script>
        <a href="inicio.html">
            <img class="img1" src="../static/img/logo.png" alt="Logo">
        </a>
    </div>
    <footer>
        <a href="https://www.ubu.es">
            <img src="../static/img/ubu.png" alt="Universidad de Burgos">
        </a>
    </footer>
</body>
</html>