<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo de Ordenación Heapsort</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloPorDefecto.css') }}">
</head>
<body>
    <header>
        <h1>Algoritmo de Ordenación <strong>Heapsort</strong></h1>
        <a href="https://github.com/mgm1027/TFG-Sorting-Algorithm-Quiz-Generation">
            <img class="github" src="../static/img/github.png" alt="Repositorio">
        </a>
    </header>
    <nav class="dropdown">
        <div class="menu-wrapper">
            <button class="dropbtn" onclick="toggleDropdown()">☰</button>
            <span id="menu-title"><strong>Algoritmos de ordenación</strong></span>
            <div id="dropdown-menu" class="dropdown-content">
                <a href="/mergesort">Algoritmo de ordenación por mezcla Mergesort</a>
                <a href="/quicksort">Algoritmo de ordenación rápida Quicksort</a>
                <a href="/heapsort">Algoritmo de ordenación por montículos Heapsort</a>
            </div>
        </div>
    </nav>
    
    <script src="../static/js/script.js"></script>
    <div class="content">
        <p class="p_div">
            El algoritmo de ordenación por montículos (o <strong>Heapsort</strong>) es un algoritmo de ordenamiento <strong>no recursivo</strong>.
            Su funcionamiento consiste en almacenar los elementos de un vector en un montículo y luego ir extrayendo los nodos por cada iteración del algoritmo de forma ordenada
            (Dejando en la cima del montículo el elemento de menor valor del vector).
            
        </p>
        <p><a href="https://es.wikipedia.org/wiki/Heapsort">
            <img class="img2" src="../static/img/wikipedia.jpg" alt="wikipedia">
        </a></p>
        <script>
            function validarFormulario() {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]');
                var marcado = false;
        
                checkboxes.forEach(function(checkbox) {
                    if (checkbox.checked) {
                        marcado = true;
                    }
                });
        
                if (!marcado) {
                    alert("Debes marcar al menos una opción.");
                    return false; // Evita que el formulario se envíe
                }
        
                return true; // Permite que el formulario se envíe
            }
        </script>
        <form class="formulario" method = 'POST' action="{{ url_for('formularioHeapsort') }}" onsubmit="return validarFormulario()">            
            <div>
                <p>Número de preguntas:<input type="number" min="1" title="Número de preguntas" name="numero_preguntas" required></p> 
                <p></p>
                <p>Número mínimo de valores del vector:
                    <input type="number" id="longitud_min" min="2" max="21"title="Rango mínimo del vector" name="longitud_min" required></p> 
                <p></p>
                <p>Número máximo de valores del vector:
                    <input type="number" id="longitud_max" min="2" max="22"title="Rango máximo del vector" name="longitud_max" required></p> 
                <p></p>
                
                <p>
                    <p>
                        <img  style="max-width: 50%; "src="../static/img/Heapsort_seleccionar_heapify.PNG" alt="Heapsort_seleccionar_heapify">
                    </p>
                <label>
                    ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_seleccionar_heapify" name="Pregunta_seleccionar_heapify" value="True">
                </label>
                
                </p>
                <p></p>
                <p>
                    <img  style="max-width: 50%; "src="../static/img/Heapsort_seleccionar_heappush.PNG" alt="Heapsort_seleccionar_heappush">
                </p>
            <label>
                ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_seleccionar_heappush" name="Pregunta_seleccionar_heappush" value="True">
            </label>
            
            </p>
            <p></p>
            <p>
                <img  style="max-width: 50%; "src="../static/img/Heapsort_rellenar_heapify.PNG" alt="Heapsort_rellenar_heapify">
            </p>
            <label>
                ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_rellenar_heapify" name="Pregunta_rellenar_heapify" value="True">
            </label>
            <p></p>
            <p>
                <img  style="max-width: 50%; "src="../static/img/Heapsort_maximos.PNG" alt="Heapsort_maximos">
            </p>
            <label>
                ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_maximos" name="Pregunta_maximos" value="True">
            </label>
            <p></p>
            <p>
                <img  style="max-width: 50%; "src="../static/img/Heapsort_extraccion.PNG" alt="Heapsort_extraccion">
            </p>
            <label>
                ¿Incluir este tipo de pregunta?<input type="checkbox" id="Pregunta_extraccion" name="Pregunta_extraccion" value="True">
            </label>
                
            </p>
            
            
  
                <script>
                    document.getElementById('longitud_min').addEventListener('input', function() {
                        var minVal = this.value;
                        var maxInput = document.getElementById('longitud_max');
                        maxInput.min = minVal;
                    });
                </script>
        </div>        
            <div> 
                <div></div>
                <button class="button" type="submit">
                    <h4 data-i18n="generar_fichero">Generar Fichero</h4>
                </button>
                    <a href="/heapsort"><button class="button" type="button" > 
                        <h4 data-i18n="cancelar">Cancelar</h4></button></a>

                </div>
            </div>
        </div>
    </form>
    </script>
        <a href="inicio.html">
            <img class="img1" src="../static/img/logo.png" alt="Logo">
        </a>
    </div>
    <footer>
        <a href="https://www.ubu.es">
            <img src="../static/img/ubu.png" alt="Universidad de Burgos">
        </a>
    </footer>
</body>
</html>