<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generador de cuestionarios aleatorios sobre algoritmos de ordenación</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloPorDefecto.css') }}">
</head>
<body>
    <header>
        <h1>Generador de cuestionarios aleatorios sobre algoritmos de ordenación</h1>
        <a href="https://github.com/mgm1027/TFG-Sorting-Algorithm-Quiz-Generation">
            <img class="github" src="../static/img/github.png" alt="Repositorio">
        </a>
    </header>
    <nav>
        <h2>Selecciona un algoritmo:</h2>
        <ul>
            <li><a href="/mergesort">Mergesort</a></li>
            <li><a href="/quicksort">Quicksort</a></li>
        </ul>
    </nav>
    <div class="content">
        <p>Este proyecto se trata de un trabajo de fin de grado el cual se ha diseñado con el objetivo de simplificar la creación de cuestionarios en formato XML Moodle para
            su uso en la docencia, concretamente para el ámbito de la ingeniería informática correspondiente a los diferentes algoritmos de ordenación. El objetivo es generar 
            distintas preguntas con datos diferentes y de forma aleatoria con su correspondiente solución para minimizar el gasto de tiempo que se puede producir en la creación 
            de un banco de preguntas de forma manual.
        </p>
        <p>Por cada algoritmo seleccionado se podrá generar un determinado número de preguntas dado por el usuario y se podrá generar un archivo xml con el banco de preguntas en
            cuestión. El archivo se podrá comprobar y visualizar en el siguiente enlance:
        </p>
        <a href="https://sandbox.moodledemo.net">
            <img src="../static/img/moodle.PNG" alt="Foto">
        </a>
    </div>
    <a href="inicio.html">
        <img class="img1" src="../static/img/logo.png" alt="Logo">
    </a>
    <footer>
        <a href="https://www.ubu.es">
            <img src="../static/img/ubu.png" alt="Universidad de Burgos">
        </a>
    </footer>
</body>
</html>
