<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algoritmo de Ordenación Quicksort</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estiloPorDefecto.css') }}">
</head>
<body>
    <header>
        <h1>Algoritmo de Ordenación <strong>Quicksort</strong></h1>
    </header>
    <nav>
        <h2>Selecciona un algoritmo:</h2>
        <ul>
            <li><a href="/mergesort">Mergesort</a></li>
            <li><a href="/quicksort">Quicksort</a></li>
        </ul>
    </nav>
    <div class="content">
        <p>Aquí puedes añadir información sobre los algoritmos de ordenación, instrucciones para el cuestionario, etc. Esta parte de la página está abierta para que la personalices según tus necesidades.</p>
    </div>
    <a href="inicio.html">
        <img class="img1" src="../static/img/logo.png" alt="Logo">
    </a>
    
</body>
</html>